<div *ngIf="showThis; then ifmsg else elsemsg">

</div>

<ng-template #ifmsg>
  If message
</ng-template>

<ng-template #elsemsg>
  Else message
</ng-template>


<div [hidden]="hideThis">
Hidden Propery
</div>


<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">RED</div>
  <div *ngSwitchCase="'green'">GREEN</div>
  <div *ngSwitchCase="'yellow'">YELLOW</div>
  <div *ngSwitchDefault>Not a traffic color...</div>
</div>

<ul>
  <li *ngFor="let course of courses; index as i"> {{i}} - {{ course }}</li>
</ul>

<ul>
  <li *ngFor="let name of names; trackBy:trackById"> {{ name.value }}</li>
</ul>

<input [appFormat]="'lowercase'" />
