<!-- property binding -->
<img [src]="imageUrl" />

<!-- class binding -->
<div [class.yellowBox]="showClass">
  Yellow Box
</div>
<!-- Another Class Definition -->
<div [ngClass]="{'yellowBox': showClass, 'marpad-10': showClass}">
  Yellow Box
</div>

<!-- Style Binding -->
<p [ngStyle]="{'background-color': bgcolor, 'margin.px': marginSize}">
  Let's make this font bolder
</p>

<!-- Event Binding -->
<button (click)="callFunction($event)">
  Click
</button>

<!-- Event Filtering -->
<input (keyup.enter)="callFunction($event)" />

<!-- Event Binding -->
<div (click)="divCalled()">
  <button (click)="callFunction($event)">
    Click Again
  </button>  
</div>

<!-- Two way data binding -->
<input [(ngModel)]="twoWay" />
<h1>two way: {{twoWay}}</h1>

<router-outlet></router-outlet>
