<div class="col-md-6 col-sm-12">
  <form #formVar="ngForm" (ngSubmit)="log(formVar)">

    <div class="form-group">
      <label for="email">Email: </label>
      <input class="form-control"
        ngModel name="email"
        #emailVar="ngModel" (change)="log(emailVar)"
        id="email"
        type="email" required pattern="(.)+com$" />

      <div class="alert alert-danger" *ngIf="emailVar.touched && emailVar.invalid">
        <div *ngIf="emailVar.errors.required"> Need a value </div>
        <div *ngIf="emailVar.errors.pattern"> Not a valid email address </div>
      </div>
    </div>

    <div ngModelGroup="address" class="">
      <div class="form-group">
        <label for="street">Street: </label>
        <input class="form-control"
          ngModel name="street"
          />
      </div>

      <div class="form-group">
        <label for="state">State: </label>
        <input class="form-control"
          ngModel name="state"
          />
      </div>

      <div class="form-group">
        <label for="country">Country: </label>
        <input class="form-control"
          ngModel name="country"
          />
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        class="form-control" type="password"
        ngModel name="password"
        #passwordVar="ngModel" (change)="log(passwordVar)"
        id="password" autocomplete
        required minlength="8" />

      <div class="alert alert-danger" *ngIf="passwordVar.touched && passwordVar.invalid">
        <div *ngIf="passwordVar.errors.required"> Need a value</div>
        <div *ngIf="passwordVar.errors.minlength"> Password expects {{ passwordVar.errors.minlength.requiredLength }} characters at least.</div>
      </div>
    </div>

    <div>
      <input type="radio" ngModel name="gender" value="1" /> Male
      <input type="radio" ngModel name="gender" value="2" /> Female
    </div>

    <div>
        <input type="checkbox" ngModel name="licence" /> Accept the licence agreement.
    </div>

    <button id="submit" class="btn btn-primary" [disabled]="!formVar.valid">Submit</button>
  </form>

    {{ formVar.value | json }}
<div>
